.noJogs {
  position: absolute;
  top: 50%;
  transform: translate(0, -40%);
  p {
    font-size: 24px;
    line-height: 1.21;
    text-align: center;
    color: gray;
    margin-top: 47px;
  }
  .addNewJog {
    width: 249px;
    height: 60px;
    margin-top: 141px;
    padding: 10px;
    border-radius: 36px;
    border: solid 3px #e990f9;
    color: #e990f9;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #cb29e7;
    }
  }
}
