.infoPage {
  display: flex;
  flex-direction: column;
  width: 614px;
  align-items: flex-start;
  margin: 85px;
}

h1 {
  font-size: 36px;
  color: #7ed321;
  font-weight: bold;
  text-align: start;
  margin: 0;
}

.descriptionText {
  text-align: start;
  font-size: 14px;
  line-height: 1.71;
  margin: 15px 0;
}
