.infoPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 85px;
}

h1 {
  font-size: 36px;
  color: #7ed321;
  margin: 0;
}

.descriptionText {
  text-align: start;
  font-size: 14px;
  line-height: 1.71;
  margin: 15px 0;
}

@media only screen and (max-width: 768px) {
  .infoPage {
    margin: 33px;
  }
}
