.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 380px;
  border-radius: 14px;
  margin-top: 150px;
  background-color: #e990f9;
}

.bearFace {
  background-image: url("../../assets/bear-face.svg");
  background-color: #e990f9;
  width: 160px;
  height: 150px;
  margin: 0 0 56px;
}

.logInButton {
  width: 151px;
  height: 60px;
  margin-top: 56px;
  padding: 10px;
  border-radius: 36px;
  border: solid 3px white;
  color: white;
  font-size: 18px;
  cursor: pointer;
  background-color: #e990f9;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #cb29e7;
  }
}

@media only screen and (max-width: 768px) {
  .LoginForm {
    background-color: white;
  }
  .bearFace {
    background-image: url("../../assets/bearFace.png");
    background-color: white;
  }

  .logInButton {
    border: solid 3px#e990f9;
    color: #e990f9;
    font-size: 18px;
    background-color: white;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #cb29e7;
    }
  }
}
