.jogCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px;
  font-size: 14px;
  p {
    margin: 0;
  }
}

.jogsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.addJog {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;
  outline: inherit;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
}

input {
  height: 31px;
  margin: 0 15px;
  border-radius: 11px;
  border: solid 1px #979797;
  background-color: white;
}

label {
  font-size: 13px;
  padding-left: 5px;
  color: #979797;
}

.jogsListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .jogCard {
    width: 100%;
    padding: 60px 0;
    border-bottom: 1px solid #d7d7d7;
  }
  .jogsList {
    width: 100%;
  }
}
