.logo {
  width: 147px;
  height: 56px;
  margin-left: 35px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 116px;
  background-color: #7ed321;
}

label,
#hamburger {
  display: none;
}

.menuitems {
  display: flex;
}

.menuitems a {
  margin: 0 20px;
  color: white;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  &:hover {
    text-decoration: underline 2px;
  }
}

.menuWrapper {
  margin-right: 35px;
  display: flex;
  align-items: center;
}

.filterActive {
  width: 39px;
  height: 39px;
  margin: 0 20px;
}
.filterNActive {
  width: 26px;
  height: 26px;
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .menuitems {
    display: none;
  }

  /* Show Hamburger Icon */
  .hamburger {
    display: inline-block;
    color: white;
    background: #7ed321;
    font-weight: bold;
    font-size: 2em;
    margin-right: 35px;
  }
}
